{% extends "base.html" %}

{% block content %}
<form method="post" class="decor">
  <div class="form-inner">
    <h1>URLAnalyser - Check URL</h1>
    {% if error != "" %}
    <div class="error">{{error}}</div>
    {% endif %}
    <input name="url" type="text" placeholder="URL">
    <button type="submit">Submit</button>
  </div>
  <fieldset>
    <legend>Settings</legend>

    <table style="width:100%">
      <tr>
        <td>
          <div>
            <input type="checkbox" name="location" id="location" checked="checked">
            <label for="location">Get location</label>
          </div>
        </td>
        <td>
          <div>
            <input type="checkbox" name="redirection" id="redirection" checked="checked">
            <label for="redirection">Get redirection</label>
            <input type="checkbox" name="red_all" id="red_all">
            <label for="red_all">Get all information</label>
          </div>
        </td>
      </tr>
      <tr>
        <td>
          <div>
            <input type="checkbox" name="domain_age" id="domain_age" checked="checked">
            <label for="domain_age">Get domain age</label>
          </div>
        </td>
        <td>
          <div>
            <input type="checkbox" name="domain_reputation" id="domain_reputation" checked="checked">
            <label for="domain_reputation">Get domain reputation</label>
          </div>
        </td>
      </tr>
      <tr>
        <td>
          <div>
            <input type="checkbox" name="urlhaus" id="urlhaus">
            <label for="urlhaus">Send to URLhaus</label>
          </div>
        </td>
        <td>
          <div>
            <input type="checkbox" name="virustotal" id="virustotal">
            <label for="virustotal">Send to VirusTotal</label>
          </div>
        </td>
      </tr>
      <tr>
        <td>
          <div>
            <input type="checkbox" name="screenshot" id="screenshot">
            <label for="screenshot">Get screenshot</label>
          </div>
        </td>
        <td>
          <div>
            <input type="checkbox" name="download" id="download">
            <label for="download">Get page source as zip</label>
          </div>
        </td>
      </tr>
    </table>
  </fieldset>
</form>

{% endblock content %}