{% extends "base.html" %}

{% block content %}
<div class="return">
  <div class="form-inner">
    <h1>Welcome!</h1>
    {% if is_malicious == "true" %}
    <div class="malicious">
      URL: {{url}} !!! - It is look dangerous, please avoid this page
    </div>
    {% else %}
    <div>
      URL: {{url}}
    </div>
    {% endif %}
    <table>
      <tbody>
        {% for key, value in result.items() %}
        <tr>
          <td> <b>{{ key }} </b> </td>
          <td> {{ value }} </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% if download != "" %}
    <a href="/downloadzip"><button>Download</button></a>
    {% endif %}
    {% if filename != "" %}
    <img src="{{ url_for('static', filename='screenshot.png') }}" alt="screenshot" class="midImg" style="width:60%">
    {% endif %}
    <a href="{{ url_for('index') }}"><button>Home</button></a>
  </div>
</div>
{% endblock content %}

